/* MINI GRID */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.frame {
        width: 100%;
}

[class*='col'] {
  float: left;
}

[class*='col']:last-of-type {
  float: right;
}

.col1  { width: 100%; }
.col2  { width: 50%; }
.col3  { width: 33.33%;}
.col4  { width: 25%; }
.col75 { width: 75%; }
.col70 { width: 70%; }
.col30 { width: 30%; }

/* Clearfix */
.frame:after {
  content: "";
  display: block;
  clear: both;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*Custom CSS for Views*/

/*Application:*/
*{
  font-family: 'Open Sans', sans-serif;
}

.float-left{
  float: left;
}

.float-right {
  float: right;
}

h3{
  color: #4F5D5C;
}

.line-separator{
  height: 2px;
  background: #D2CDCD;
  border-bottom: 1px solid #B5B2B2;
  margin-right: 25px;
}

.header{
  background-color: #E6E6E6;
}
.frame {
        width: 1024px;
        margin: 0 auto;
}

.clear-both{
  clear: both;
}

.login-status{
  margin-top: 50px;
  color: #4F5D5C;
}

.log-in-out{
  float: right;
  margin-left: 3px;
}

.log-in-out a{
  text-decoration: none;
  color: #4F5D5C;
  padding-top: 4px;
}

.user-info{
  float: right;
}
.home{
  float: right;
  margin-left: 5px;
}

.home a{
   color: #4F5D5C;
   text-decoration: none;
}


.logo h1{
  margin: -7px 5px -7px 0;
  font-family: 'Stalemate', cursive;
  font-size: 70px;
  color: #1AA6A3;
  float: left;
}
.modo{
}

.modo h4{
  float: left;
  float: left;
  font-size: 12px;
  margin: 40px 0 0 10px;
}

/* Restaurant show page*/
.reservation-box{
  border: 4px solid #C4C4C4;
  padding: 0px 0 15px 27px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 83px;
}
.reservation-list{
  padding-right: 16px;
  margin-top: 10px;
}
.reservation-list h3 {
  font-size: 17px;
  color: #178E8B;
}

.reservation-list p {
  font-size: 13px;
  margin: 10px 0;

}

.show-main{
margin-top: 5px;
}

.all-products{
  margin-top: 30px;
}
.restaurant-name{
  color: #178E8B;
  margin: 20px 0;
  font-size: 21px;
}

.form-title{
  margin: 15px 0;
}

.form-title h3{
  font-size: 25px;
  color: #178E8B;
}

.form-field{
  margin: 10px 0 10px 0;
}

.form-field p{
  color: #178E8B;
  font-size: 16px;
}

.submit-button{
  margin: 10px 0 17px 0;
}

.restaurant-image{
  max-width: 703px;
  min-width: 703px;
  border-radius: 10px;
}

.sign-in-warning{
  padding: 76px 0px 0 66px;
}
.login-status h3{
font-size: 17px;
}

.content h3 {
  font-size: 20px;
  color: #178E8B ;
}
.content: p {
  float: right;
}
.max-occp {
  margin: 5px 0 0 5px;
}

.description-text{
  text-align: justify;
  line-height: 27px;
  margin-right: 10px;

}

.show-map{
  margin: 20px 0 30px 11px;
}
